[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./solutions-provider/config/*,
       ./solutions-provider/manage.py,
       ./solutions-provider/wsgi.py,
       *__init__*
